doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    title= 'Huspray - Home'
  body
    .container
      header.header
        img.header__logo(
          src=require('./images/Logo.svg')
          alt='logo'
        )
        .header__navbar
          .header__navbar-home Home
          .header__navbar-features Features
          .header__navbar-blog Blog
          .header__navbar-customer Customers
          .header__navbar-more More
        .header__auth
          .header__auth-login Log in
          button.button.button__tryForFree Try for free
          
            

